<h3 id="selected-h3">Selected base and addons:</h3>
<ul>

    <li id="selection">Base: {{cookie.base}} - {{pricify (findPrice bases cookie.base)}} PLN</li>
    {{#each cookie.addons}}
        <li id="selection">Addons: {{this}} - {{pricify (findPrice @root.addons this)}} PLN <a href="/config/remove-addon/{{this}}">Remove it!</a></li>{{/each}}
</ul>
<p style="max-width: 900px">
    <strong>Your Total cost: {{pricify sum}} PLN</strong>
</p>
