<h3>Selected parts of cookie</h3>
<ul>
    <li>Base: {{cookie.base}} - {{pricify (findPrice allBases cookie.base)}} PLN</li>
    {{#each cookie.addons}}
        <li>
            {{#unless ../noDeleteBtn}}
                <a class="btn btn-small" href="/configurator/delete-addon/{{this}}">Delete</a>
            {{/unless}}
            Addon: {{this}} - {{pricify (findPrice @root.allAddons this)}} PLN</li>
    {{/each}}
</ul>
<p>
    <strong>Total of {{pricify sum}} PLN</strong>
</p>
